
.formDiv{
    padding: 1.5rem;
    color: white;
}

input{
    height: 2rem;
}



.inputMessage{
    color: red;
}



#submitBtn:hover{
    transform: scale(1.5);
    transition-duration: .5s;
    background-color: aliceblue;
    cursor: pointer;
}

li{
    list-style-type: none;
}

