th{
    /*border: 2px solid;*/
    padding: 5px;
}

#table{
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
}

#searchDiv{
    /*border: 2px solid;*/
    background-color: #282c34;
    color: white;
    padding: 1.5rem;
}

#clickBtn{
    position: relative;
    margin-top: 1rem;
}
#filter{
    position: relative;
    margin-right: 80%;
}


.tableBtn{
    margin-right: 1rem;
}

#tableDeleteBtn{
    background-color: darkred;
}

#tableUpdateBtn{
    background-color: darkblue;
}