#divNav{
    background-color: lightgrey;
    position: fixed;
    width: 100%;
    top: 0;
}

#date{
    left: 100px;
}

#navBar{
    list-style-type: none;
}

.navLi{
    display: inline;
    font-size: 20px;
}

.navA{
    margin: 25px;
}

#programImg{
    margin-top: 60px;
    width: 25%;
}


#profileLink{
    margin-bottom: 10px;
}

#center{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

#dd_button{
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
    text-align: center;
    background-color: lightblue;
    padding: 5px;
}

#dd_button:hover{
    background-color: rgb(67, 188, 228);
}


#dropdown_content{
    display: none;
}
.show{
    display:block;
}

p{
    width: 30%;
    word-wrap: break-word;
}

form{
    border: 2px solid;
    padding: 15px;
    background-color:lavender;
    width: 50%;
}

#date{
    margin-top:10px;
}

