body{
    margin: 0;
    padding: 0;
}

header{
    background: lavender;
    padding: .7rem;
}
section{
    background-color: white;
}
footer{
    background-color: lavender;
}

li{
    display: inline;
    margin-left: .5rem;
    margin-right: .5rem;
    font-size: 1.5rem;
}

button{
    width: 50%;
    margin-top: 2rem;
    margin-left: 2rem;
}

button:hover{
    background-color: darkgray;
    transform: scale(1.1);
    transition : all .5s;
    cursor: pointer;
}