
form{
    padding: 1.5rem;
}

input{
    height: 2rem;
}

pre{
    font-size: 1rem;
}

.inputMessage{
    color: red;
}


#submitBtn{
    width: 50%;
}
#submitBtn:hover{
    transform: scale(1.5);
    transition-duration: .5s;
    background-color: aliceblue;
    cursor: pointer;
}

li{
    list-style-type: none;
}

