th{
    /*border: 2px solid;*/
    padding: 5px;
}

#table{
    margin-left: auto;
    margin-right: auto;
}

#searchDiv{
    /*border: 2px solid;*/
    background-color: #282c34;
    color: white;
}

#clickBtn{
    position: relative;
}
#filter{
    position: relative;
    margin-right: 80%;
}

/*
#filterDiv{
    border: 2px solid;
}*/