/*
#langTable{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

.langTh{
    padding: 10px;

}


td{
    padding: 5px;
}

.favData{
    border-left: 2px solid;
    border-right: 2px solid;
    border-bottom: 2px solid;
}

.langInputMessage{
    color: red;
}
*/