
.listElem{
    display: inline;
    list-style-type: none;
    margin-left: 1rem;
    color: white;
    font-size: 2rem;
}

#navDiv{
    text-align: center;
    padding: 10px;
}


#listButton{
    list-style-type: none;
}

.button{
    width: 2rem;
    font-size: 1.5rem; 
}